<footer class="footer p-4">
  <div class="content has-text-grey">
    <div class="columns">
      <div class="column has-text-centered">
        <p>
          GameDevSig is a Special Interest Group of
          <a href="{{ site.data.links.compsoc }}" target="_blank" rel="noopener"><img class="inline-icon"
              src="/assets/images/compsoc-logo/compsoc-long.png"></a>
        </p>
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column has-text-left-tablet has-text-centered-mobile">
        Last updated: {{ site.time | date: "%B %Y" }}
      </div>
      <div class="column has-text-right-tablet has-text-centered-mobile has-text-primary is-narrow">
        <p>
          {% for item in site.data.socials %}
          <a href="{{ item.link }}" rel="noopener" target="_blank" title="{{ item.name }}">
            <span class="icon is-medium">
              <i class="{{ item.icon }}">
              </i>
            </span>
            {{ item.name }}
          </a>
          {% unless forloop.last %}
          &nbsp;|&nbsp;
          {% endunless %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</footer>