<footer class="footer p-6">
  <div class="content">
    <div class="has-text-centered has-text-grey">
      <p>
        GameDevSIG is a Special Interest Group of
        <a href="https://comp-soc.com/" target="_blank" rel="noopener"><img class="inline-icon"
            src="/assets/images/compsoc-logo/compsoc-long.png"></a>
      </p>
    </div>
    <div class="columns is-vcentered mt-3">
      <div class="column has-text-left is-half">
        Last updated: {{ site.time | date: "%B %Y" }}
      </div>
      <div class="column has-text-right is-half">
        <p>
          {% for item in site.data.socials %}
          <a href="{{ item.link }}" rel="noopener" target="_blank" title="{{ item.name }}">
            <span class="icon is-medium">
              <i class="fab {{ item.icon }}">
              </i>
            </span>
            {{ item.name }}
          </a>
          {% unless forloop.last %}
          &nbsp;|&nbsp;
          {% endunless %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</footer>