---
layout: default
---
<div class="columns is-vcentered is-multiline">
  <div class="column is-align-right">
    <h1 class="title">{{ page.title }}</h1>
  </div>
  <div class="column has-text-right has-text-left-mobile is-narrow">
    <h2 class="subtitle is-4">
      {{ page.date | date_to_string: "ordinal" }}
    </h2>
  </div>
</div>

{{ content }}

{% unless page.images == nil or page.images == empty %}
<div class="columns is-multiline is-centered">
  {% for img in page.images %}
  <div class="column is-full-mobile is-half-tablet">
    <img src="{{ img }}">
  </div>
  {% endfor %}
</div>
{% endunless %}